---
---

@import "{{ site.theme }}";
body.szulc-theme {
    background-color: #000 !important;
    color: #fff !important;
}

a {
    color: #b62c7c;
}

a:visited {
    color: #812159;
}

a:hover, a:focus {
    color: #ff4ab4;
}

code {
    color: #000;
}